PORT=4000

WAZIRX_API_KEY=
WAZIRX_SECRET_KEY=

COINDCX_API_KEY=
COINDCX_SECRET_KEY=

ZEBPAY_API_KEY=

BINANCE_API_KEY=
BINANCE_SECRET_KEY=

BYBIT_API_KEY=
BYBIT_API_SECRET=

KUCOIN_API_KEY=
KUCOIN_SECRET_KEY=
KUCOIN_PASSPHRASE=

OKX_API_KEY=
OKX_SECRET_KEY=
OKX_PASSPHRASE=

BITGET_API_KEY=
BITGET_SECRET_KEY=
BITGET_PASSPHRASE=
